header {
color:  white;
text-align: center;
background-image:url('http://intro-webdesign.com/CSS/assignment-2/images/flywheel.jpg');
background-size: auto;
background-repeat: no-repeat;
background-size: cover;
padding: 2%;
width: 92%;
  }
h1
{
  text-transform: uppercase;
   color: white;
}
nav a{
  border-radius: 8px;
  dispaly : inline-block;
  text-decoration: none;
 padding:15px;
  margin:150px;
  color: black;
  background: #ffffff47;
  text-align: center;
  width: 20%;
  margin-right: 2%;
}
.active{
  background: white;
  color: blue;
}
img
{
  width: 230px;
  dispaly: block;
 border: 3px solid black;
  margin:20px;
}
.left{
  dispaly: block;
  float: left;
  background: #9e9d24;
}
body
{
padding:8px;
}
.right{
overflow: hidden;
padding:10px;  
 }
tr{
  background-color: #f2f2f2;
   opacity: 0.8;
 }
th{
   background:linear-gradient(#a4b317f7, #7bb932);
  padding: 17px;
  border-radius:8px 8px 0 0;
  height: 10px;
  color: #ffffff;
  border:2px;
 }
table{
text-align:center;
margin-left:auto; 
margin-right:auto;
width: 750px;
height: 300px
}
th:first-child {
  text-align:left;
  font-family:Verdana;
}
td{
  height: 35px;
 background: #80808029;
  font-family:Verdana;
  padding:1px;
}
td:first-child {
  text-align:left;
  
}

tr:hover{
  opacity: 1 ;
}